/* 지환
input, button
{
  padding: 12px;
  margin: auto;
}
input
{
  width: 80%;
}
button
{
  width: 90%;
  color: white;
  background-color: rgb(0, 110, 255);
  border: 0px;
}
h2, p
{
  text-align: center;
}
form
{
  width: 300px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
} */
/*목샘--------------------------------------------------- */
body{background-color: #f0f0f0;}
.login-container{            
    border: 1px solid rgb(208, 210, 218);
    width: 300px;
    margin:30px auto;
    text-align:center;
    background-color: white;
    border-radius:8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding:16px;
}

h2{
    text-align: center;
    margin-bottom: 16px;
    letter-spacing: 1px;
  
}
input{
    width: 90%;
    padding:8px;
    border:1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
}

button{
    width: 96%;
    padding: 8px;
    background-color: #006efff3;
    color:white;
    border: none;
    border-radius: 4px;
    font-size:14px;
    letter-spacing: 1px;
}